**/data
__pycache__/
# Ignore experiment.bat
experiment.bat
*.env

# But don't ignore experiment.bat_example
!experiment.bat_example

# But don't ignore env example
!.env_example
misc/experiment.bat
node_modules/
visualizer/backend/node_modules/
visualizer/frontend/node_modules/
misc/visualizer.bat
/