DB_NAME=self_control_db
DB_USER=postgres
DB_PASSWORD=pigeon123!
DB_HOST=194.177.220.45
DB_PORT=5432

EMAIL_USER=behaviorlab2021@gmail.com
EMAIL_PASSWORD=birn ngjx sqsd lxkk
EMAIL_RECIPIENTS=smanoliadis@gmail.com,minosntinas@gmail.com,alexandrostsiok@gmail.com,mellon.robert@gmail.com
JAVA_HOME=/Library/Java/JavaVirtualMachines/jdk-22.jdk/Contents/Home